<mapper namespace="com.adam.mapper.LogAnalyseMapper">

    <insert id="batchInsert">
        INSERT INTO log_table
        (trace_id, system_name, class_name, method_name, content, timestamp)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.traceId},
            #{item.systemName},
            #{item.className},
            #{item.methodName},
            #{item.content},
            #{item.timestamp, typeHandler=com.adam.handler.DateTimeTypeHandler}
            )
        </foreach>
    </insert>

</mapper>
